<!DOCTYPE html>
<html ng-app="SnorfortApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/main-ctrl.js"></script>
    <script type="text/javascript" src="/javascripts/beer-ctrl.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1><%= title %></h1>
    <p><label>Name: <input ng-model="name" /></label></p>
    <p>{{greeting}} {{name}}!</p>
    <div ng-controller="BeerCtrl">
      <p><label>Filter: <input ng-model="search" /></label></p>
      <table>
        <thead>
          <tr>
            <th><a ng-click="sortBy = 'type'">Typ</a></th>
            <th><a ng-click="sortBy = 'name'">Namn</a></th>
            <th><a ng-click="sortBy = 'alc'">Styrka (vol.%)</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="beer in beers | filter:search | orderBy:sortBy">
            <td>{{beer.type}}</td>
            <td>{{beer.name}}</td>
            <td>{{beer.alc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
